/*Contact*/

#contact {
    /*min-height: 650px;*/
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) fixed center center;
    background-size: cover;
}

#contact .container-fluid{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) fixed center center;
  background-size: cover;
  padding: 40px 0;
}

#contact .row{
  margin: 0;
  padding: 0 80px;
}
.msg {
    padding-top: 50px;
}

.text_area textarea,
.form-inline .form-control,
input#name.form-control,
input#email.form-control,
input#subject.form-control{
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: white;
    font-style: italic;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.msg_title h5 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 20px;
    padding-left: 15px;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.help-block p{
    color: #ee3733;
}
#msgSubmit p{
    text-align: left;
    color: lightgray;
    font-size: 16px;
}
.help-block{
    margin: 0;
}
.custom-btn{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
  }
  #subscribe .subscribe-btn:hover, .custom-btn:hover {
    background: #ee3733;
    border: 2px solid #ee3733;
  }
.custom-btn {
    margin: 20px 0 0 0;
}
.office {
    padding-top: 50px
}
.office .title h5 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    color: white;
}
.office_location i span {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.office_location i {
    padding-bottom: 15px;
}
.office_location {
    color: white;
}
.contact_area h3 {
    font-size: 36px;
    padding-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.contact_area p {
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#map {
    width: 100%;
    margin: 0;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    min-height: 300px;
}
