<div class="container">
  <div class="row">
    <div class="col-md-12 news-attribute">
      <div class="col-md-3 pull-left " >
        <div class="input-group stylish-input-group">
          <input type="text" [(ngModel)]="queryString" 
            class="form-control" placeholder="Search news"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
      </div>
      <button class="btn btn-default pull-right" [routerLink]="['add']">Add news</button>
      <div class="dropdown">
        <button  class="dropbtn">Sort by <span class="caret"></span></button>
          <div id="myDropdown" class="dropdown-content">
            <li (click)="sortByLatestDate()">Sort by latest</li>
            <li (click)="sortByOldestDate()">Sort by oldest</li>
            <li (click)="sortByAuthor()">Sort by author</li>
          </div>
      </div>
    </div>
    <ng-container  *ngFor="let key of (news | async) | searchNews: queryString | sortingNews:sort:sortKey | paginate: { itemsPerPage: 6, currentPage: pagination[i] }">
      <div class="col-md-6 service-block" *ngIf="key.approved === false">
        <div class="news_block">
          <p class="pull-left">{{key.author}}</p>
          <p class="news_date pull-right">{{key.date | date:'d MMMM y'}} </p>
          <img class="img img-responsive" src="https://ichef.bbci.co.uk/news/1024/media/images/48351000/gif/_48351569_640x360-news.gif" alt="">
          <h3 class="news_title">{{key.title }} </h3>
          <p class="news_desc">{{ key.desc | truncate: [150]  }}</p>
          <a class="read" [routerLink]="['/news', key._id]">Read more 
            <span class="glyphicon glyphicon-menu-right"></span>
          </a>
        </div>
      </div>
    </ng-container> 
  </div>
</div>
<div class="pagination">
  <pagination-controls (pageChange)="pagination[i] = $event"></pagination-controls>
</div>

