.selectpicker {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background: none;
    padding: 8px 10px;
    border: 1px solid #ccc;
    color: #777777;
    border-radius: 2px;
    cursor: pointer;
}
.form-group {
    margin: 0;
}
.form-group label {
    color: #777777;
}
.selectpicker option {
    cursor: pointer;
}
.news-attribute {
    margin: 110px 0 15px 0;
    padding: 15px;
    border-radius: 10px;
    background: #FCFCFC;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.news-attribute input {
    padding: 17px 5px;
}
.input-group {
    padding-right: 15px;
}
input:focus,
.selectpicker:focus {
    border-color: rgba(238, 55, 51, 0.86);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(238, 55, 51, 0.27);
    outline: 0 none;
}
.add-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 2px;
    transition: 0.5s;
    border: 1px solid #ccc;
    color: #777777;
    background: none;
    box-sizing: border-box;
}
.add-btn:hover,
.dropbtn:hover {
    background: #ee3733;
    border-color: #ee3733;
    color: #fff;
}
a {
    text-decoration: none;
}
.service-block {
    margin: 15px 0px;
}
.news_block {
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    padding: 0 10px 30px 10px;
    color: #000;
}
.news_date {
    position: absolute;
    left: 20px;
    margin-top: -55px;
    font-weight: 700;
    background: #ee3733;
    padding: 6px 10px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.author {
    position: relative;
    color: #9e9e9e;
    margin: 15px 0;
}
.news-img {
    overflow: hidden;
    position: relative;
    background-size: cover;
    padding: 0 0 calc(10/16*100%);
    padding-top: 10px;
}
.img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.news_title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}
.news_desc {
    padding-bottom: 5px;
}
.read {
    font-size: 14px;
    color: #ee3733;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}
.read:hover {
    color: #333;
}
.pagination {
    display: block;
    text-align: center;
    margin: 30px auto;
}
.pagination pagination-controls /deep/ .ngx-pagination {
    margin: 0;
    padding: 0;
}
.pagination pagination-controls /deep/ .ngx-pagination li {
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    margin: 0 2px;
}
.pagination pagination-controls /deep/ .ngx-pagination li:hover,
.pagination pagination-controls /deep/ .ngx-pagination a:hover,
.pagination pagination-controls /deep/ .ngx-pagination button:hover {
    background: #ee3733;
    color: #fff;
}
.pagination pagination-controls /deep/ .ngx-pagination .current {
    background: #ee3733;
    color: #fff;
}
.pagination pagination-controls /deep/ .ngx-pagination a,
.pagination pagination-controls /deep/ .ngx-pagination button {
    padding: 0;
}
.pagination pagination-controls /deep/ .ngx-pagination .pagination-next,
.pagination pagination-controls /deep/ .ngx-pagination .pagination-previous,
.pagination pagination-controls /deep/ .ngx-pagination button {
    padding: 5px;
    width: 40px;
    margin: 0;
}
.pagination pagination-controls /deep/ .ngx-pagination .disabled {
    color: #9a9a9a;
}
@media (max-width: 465px) {
    .news-attribute input {
        padding: 15px 5px;
        font-size: 11px;
    }
    .input-group-addon {
        padding: 6px 8px;
        font-size: 12px;
    }
    .add-btn {
        font-size: 14px;
        padding: 5px 6px;
    }
    .selectpicker {
        padding: 6px 6px;
    }
}
@media (max-width: 390px) {
    .news-attribute input {
        padding: 14px 5px;
        max-height: 11px;
    }
    .input-group-addon {
        padding: 5px 2px;
        font-size: 10px;
    }
    .form-group label {
        font-size: 12px;
    }
    .selectpicker {
        padding: 6px 0px;
    }
    .add-btn {
        font-size: 12px;
        padding: 6px 6px;
    }
}