<!--Start of news-->
<section class="news">
	<div class="container">
		<div class="section-title">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-12">
					<h2>Latest news</h2>
					<span class="decor"></span>
				</div>
				<div class="col-md-8 col-sm-7 col-xs-12 font-20">
					<p>We go to great lengths to identify impressive new talent—self-starters with specific <br>skill sets to produce truly amazing results.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img [src]="img1" alt="News" class="img-responsive">
					</div> <!-- End of .img_holder -->
					<div class="post">
						<div class="news-date">
							August 20, 2017
						</div>
						<div class="text">
							<p class="author"><a href="#">by Mark Vilton</a></p>
							<h4><a href="#">Design and Advanced Industry Materials of Innovation</a></h4>
							<p>The increasing availability of productivity <br>information provides an opportunity for the products materials. </p>
							<div class="link"><a (click)="onLoadServers()" class="tran3s">Read more</a></div>
							
						</div>
						
					</div> <!-- End of .post -->
				</div>
				
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img [src]="img2" alt="News" class="img-responsive">
					</div> <!-- End of .img_holder -->
					<div class="post">
						<div class="news-date">
							August 25, 2017
						</div>
						<div class="text">
							<p class="author"><a href="#">by Mark Thornton</a></p>
							<h4><a href="#">Commercial and military space projects around the world.</a></h4>
							<p>Our special grade steels are being used in commercial and military aerospace projects around the world.</p>
							<div class="link"><a href="#" class="tran3s">Read more</a></div>
							
						</div>
						
					</div> <!-- End of .post -->
				</div>
				
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img [src]="img3" alt="News" class="img-responsive">
					</div> <!-- End of .img_holder -->
					<div class="post">
						<div class="news-date">
							September 20, 2017
						</div>
						<div class="text">
							<p class="author"><a href="#">by Mark Vilton</a></p>
							<h4><a href="#">Design and Advanced Industry Materials of Innovation</a></h4>
							<p>The increasing availability of productivity <br>information provides an opportunity for the products materials.  </p>
							<div class="link"><a href="#" class="tran3s">Read more</a></div>
							
						</div>
						
					</div> <!-- End of .post -->
				</div>
				
			</div>
			
		</div>
	</div>
</section>
<!--End news section-->
