<!--Start of news-->
<section class="news">
	<div class="container">
		<div class="section-title">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h2>Latest news</h2>
					<span class="decor"></span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 font-20">
					<p>We go to great lengths to identify impressive new talent—self-starters with specific <br>skill sets to produce truly amazing results.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let key of (newsAll | async) | slice:0:3 ">
				<div class="blogList_single_post">
					<div class="img_holder">
						<img src="{{key?.image.replace('?alt=media&', '_thumb.jpg?alt=media&')}}" alt="{{key.newsAll}}" class="img-responsive">
					</div>
					<div class="post">
						<div class="news-date">
							{{key.date | date:'dd MMMM y'}}
						</div>
						<div class="text">
							<p class="author"><a href="#">Written by: {{key.author}}</a></p>
							<h4><a [routerLink]="['/news', key._id]">{{key.title}}</a></h4>
							<p>{{ key.desc | shorten: [150] }}</p>
							<div class="link"><a [routerLink]="['/news', key._id]" class="tran3s">Read more</a></div>
							
						</div>
						
					</div> <!-- End of .post -->
				</div>
				
			</div>
			
		</div>
	</div>
</section>
<!--End news section-->