.rating_block {
  font-family: sans-serif;
  color: #8F8F8F;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

.rating_block_inside{
  padding: 1px;
}


.liked_block{
  background-image: url('../../../assets/images/likes.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 15px -1px; 
  width: 33px;
  height: 22px;  
}

.unliked_block{
  background-image: url('../../../assets/images/likes.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 15px -32px;
  width: 33px;
  height: 22px;
}

.unliked_block:hover{
  background-image: url('../../../assets/images/likes.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 15px -1px; 
  width: 33px;
  height: 22px;  
}


.rating_info {
    vertical-align: middle;
  font-size: 12px;
}

.rating_info:focus {
  outline: none;
}


.rating_icon{

}