<div class="content">
<div class="container-fluid">
  <div class="nav_block">
    <ul class="nav nav-tabs">
      <li class="nav-item"><a routerLink="../projects">Projects</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="../news">News</a></li>      
      <li class="nav-item" routerLinkActive="active"><a routerLink="../contacts">Messages</a></li>
      <li class="nav-item"><a routerLink="/">Main page</a></li>
      <li class="glyphicon glyphicon-lock tip"><span class="tiptext">configure access</span></li>
      <button class="btn btn-default logout" (click)='authService.login()'>Login</button>

    </ul>
  </div> 
   <div class="row main-content">
      <div class=" col-sm-4 description_block">
        <div class="sort_section" (click)="sortByName()"><div class="glyphicon glyphicon-sort-by-alphabet"></div><span>By name</span></div>
        <div class="sort_section" (click)="sortByDate()"><div class="glyphicon glyphicon-sort-by-order"></div><span>By date</span></div>

        <ul class="list_part list-group">
            <li class="list-group-item active-projects">Active</li>
            <li *ngFor="let key of news | filterApproval:true | slice:0:showActive | sortBy:prop:'normal'; let i=index" class="project_block list-group-item">
               <a [routerLink]="['/admin/news', key._id]">
               <span class="project_name">
               {{ key.title }}
               </span>
               </a>
            </li>
          <button  type="button" class="list-group-item more" (click)="showMore('active')">Show more</button>
        </ul>
        <ul class="list_part list-group">
            <li class="list-group-item pending-projects">Pending</li>
            <li *ngFor="let key of news | filterApproval:false | slice:0:showPending | sortBy:prop:'normal'; let i=index" class="project_block list-group-item">
               <a [routerLink]="['/admin/news', key._id]">               
               {{ key.title }} 
               <span *ngIf="key.approved === false" class="badge badge-default badge-pill">new</span>              
               </a>
            </li>
            <button type="button" class="list-group-item more" (click)="showMore('pending')">Show more</button>
         </ul>
      </div>
      
<div class="standard_mes container col-sm-8" *ngIf="router.url === '/admin/news'">
  <img class="img-responsive" src="assets/images/welcome.jpg">
  <div class="welcome">
    <h3>Welcome to Admin Panel!</h3>
    <p>Here you can edit and approve projects or news</p>
  </div> 
</div>    
      <router-outlet></router-outlet>
   </div>

</div>
</div>
