button{
    margin: 25px 0;
}

.comments{
    
    margin: 45px 0;
    padding: 5px 0 20px 0;
    border-top: 1px solid #ccc;
}

.user{
    font-weight: bold;
}

.message{
    margin: 8px 0;
}

.date{
    font-style: italic;
    
}