<!--main video start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="video-block">
      <div id="video">
         <video id="my-video" width="320" height="240" loop autoplay muted plays-inline>
            <source [src]="mainVideo" type="video/mp4">
          </video>
          <div class="text-center">
                <h2 class="animated2">
                  <span>Welcome to <strong>Lviv Smart City</strong></span>
                </h2>
                <h3 class="animated3">
                   <span>Organizing impact on urban innovation</span>
                </h3>
              </div>
        </div>
    </div>
  </div>
</div>
<!--main video end-->

 <!--Start of news-->
<section class="news">
	<div class="container">
		<div class="section-title">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-12">
					<h2>Latest news</h2>
					<span class="decor"></span>
				</div>
				<div class="col-md-8 col-sm-7 col-xs-12 font-20">
					<p>We go to great lengths to identify impressive new talent—self-starters with specific <br>skill sets to produce truly amazing results.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img [src]="img1" alt="News" class="img-responsive">
					</div> <!-- End of .img_holder -->
					<div class="post">
						<div class="news-date">
							August 20, 2017
						</div>
						<div class="text">
							<p class="author"><a href="#">by Mark Vilton</a></p>
							<h4><a href="#">Design and Advanced Industry Materials of Innovation</a></h4>
							<p>The increasing availability of productivity <br>information provides an opportunity for the products materials. </p>
							<div class="link"><a (click)="onLoadServers()" class="tran3s">Read more</a></div>
							
						</div>
						
					</div> <!-- End of .post -->
				</div>
				
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img [src]="img2" alt="News" class="img-responsive">
					</div> <!-- End of .img_holder -->
					<div class="post">
						<div class="news-date">
							August 25, 2017
						</div>
						<div class="text">
							<p class="author"><a href="#">by Mark Thornton</a></p>
							<h4><a href="#">Commercial and military space projects around the world.</a></h4>
							<p>Our special grade steels are being used in commercial and military aerospace projects around the world.</p>
							<div class="link"><a href="#" class="tran3s">Read more</a></div>
							
						</div>
						
					</div> <!-- End of .post -->
				</div>
				
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blogList_single_post clear_fix wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="img_holder">
						<img [src]="img3" alt="News" class="img-responsive">
					</div> <!-- End of .img_holder -->
					<div class="post">
						<div class="news-date">
							September 20, 2017
						</div>
						<div class="text">
							<p class="author"><a href="#">by Mark Vilton</a></p>
							<h4><a href="#">Design and Advanced Industry Materials of Innovation</a></h4>
							<p>The increasing availability of productivity <br>information provides an opportunity for the products materials.  </p>
							<div class="link"><a href="#" class="tran3s">Read more</a></div>
							
						</div>
						
					</div> <!-- End of .post -->
				</div>
				
			</div>
			
		</div>
	</div>
</section>
<!--End news section-->

<!--Invest section-->
  <section id="subscribe" [ngStyle]="{'background-image':'url(' + subscribeImg + ')'}">
    <div class="subscribe-shadow">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Become Our Investor</h3>
          <p class="subscribe-text">Join our 200+ projects and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Join Us</a>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!--End of invest section-->

<!--Project Section-->
<section class="our-services">
	<div class="container">
		<div class="section-title">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-12">
					<h2>Our Projects</h2>
					<span class="decor"></span>
				</div>
				<div class="col-md-8 col-sm-7 col-xs-12 font-20">
					<p>We have built an enviable reputation in consumer goods, heavy industry, high-tech, <br>manufacturing, medical, recreational vehicle, and transportation sectors.</p>
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="single-our-service">
					<figure class="img-box">
						<a href="#"><img src="" alt="Awesome Image"></a>
					</figure>
					<a href="#"><h4>Agricultural Engineering</h4></a>
					<p>We develop and design new procedures, tools <br>
					systems for agricultural products environments. </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-our-service">
					<figure class="img-box">
						<a href="#"><img src="" alt="Awesome Image"></a>
					</figure>
					<a href="#"><h4>Chemical Research Engineering</h4></a>
					<p>Chemical Research expertise in producing and <br>
					manipulating chemicals to energy properties.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-our-service">
					<figure class="img-box">
						<a href="#"><img src="" alt="Awesome Image"></a>
					</figure>
					<a href="#"><h4>Material Science and Engineering</h4></a>
					<p>Materials Engineering should include scientific and <br>
					engineering strength relationships of materials. </p>
				</div>
			</div>
			<div class="col-md-12"><div class="separet"></div></div>
			<div class="col-md-4 col-sm-6">
				<div class="single-our-service">
					<figure class="img-box">
						<a href="#"><img src="" alt="Awesome Image"></a>
					</figure>
					<a href="#"><h4>Mechanical Engineering</h4></a>
					<p>Creating a dynamic company for the continuous <br>
					exploration and develop opportunities. </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-our-service">
					<figure class="img-box">
						<a href="#"><img src="" alt="Awesome Image"></a>
					</figure>
					<a href="#"><h4>Petroleum and Gas</h4></a>
					<p>Petroleum Engineers are concerned with the <br>
					 exploration, discovery and production.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="single-our-service">
					<figure class="img-box">
						<a href="#"><img src="" alt="Awesome Image"></a>
					</figure>
					<a href="#"><h4>Power and Energy</h4></a>
					<p>Ensuring high reliability and optimal performance of <br>
					rotating power equipment.</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!--Counters section-->
