<!--main video start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="video-block">
      <div id="video">
         <video id="my-video" width="320" height="240" loop autoplay muted plays-inline>
            <source [src]="mainVideo" type="video/mp4">
          </video>
          <div class="text-center">
                <h2 class="animated2">
                  <span>Welcome to <strong>Lviv Smart City</strong></span>
                </h2>
                <h3 class="animated3">
                   <span>Organizing impact on urban innovation</span>
                </h3>
              </div>
        </div>
    </div>
  </div>
</div>

<!-- news -->
<app-news></app-news>

<!--Invest section-->
  <section id="subscribe" [ngStyle]="{'background-image':'url(' + subscribeImg + ')'}">
    <div class="subscribe-shadow">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Become Our Investor</h3>
          <p class="subscribe-text">Join our 200+ projects and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Join Us</a>
        </div>
      </div>
    </div>
    </div>
  </section>


<!--Project Section-->
<app-projects></app-projects>
<!--Counters section-->
