
#video-block{
	padding:0;
}
#video {
    position: relative;
    overflow: hidden;
}

#my-video {
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#my-video, .mobileImg {
  position: absolute;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.mobileImg{
min-height: 100vh;
}

.text-center {
	position: relative;
	z-index: 5;
  padding: 170px 0;
}

.text-center h2 {
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
}
.text-center h3 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.text-center strong {
  color: #f1505b;
	font-weight: 600;
}

.text p, .about-text h2{
  margin: 0 0 0 20px;
}

/*fact-counter*/

h2 {
  font-weight: 700;
  text-transform: uppercase;
}

.about-us {
    background: white;
    position: relative;
    padding: 80px 0 80px;
}

.about-us .decor {
  position: relative;
  display: block;
  height: 3px;
  width: 74px;
  margin: 9px 0 30px 20px;
}
.about-us .decor:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ee3733;
}

.about_proj h5{
  padding: 10px 0;
}
.base-header h3{
  color: white;
  padding-left: 30px;
  font-size: 30px;
  font-weight: 600px;
}
.about_proj{
  color: white;
  float: right;
}
.red_clr{
  color: #ee3733;
}

.counted{
  text-align: center;
}
.counted h5{
  font-size: 17px;
}

.count-text{
  font-size: 40px;
  font-weight: 600;
}

.counters-section .container .row{
  margin: 0;
}
/* Subscribe Section
--------------------------------*/
#subscribe , .counters-section{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) fixed center center;
  background-size: cover;
}

#subscribe .subscribe-shadow, .counters-section .counters-shadow{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size: cover;
    padding: 80px 0;
}

#subscribe .subscribe-title {
  color: #ee3733;
  font-size: 28px;
  font-weight: 700;
}

#subscribe .subscribe-text {
  color: #fff;
}

#subscribe .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
}

#subscribe .subscribe-btn, .custom-btn{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

#subscribe .subscribe-btn:hover, .custom-btn:hover {
  background: #ee3733;
  border: 2px solid #ee3733;
}

@media(max-width: 767px)
{
  .text-center h2 {
    font-size: 36px;
  }
  .text-center h3 {
    font-size: 20px;
    margin-top: 15px;
  }
  .text-center {
    padding: 80px 0 15px 0;
  }
}