<div class="container col-xs-12 col-md-8">
  <div class="row">

    <app-modal #modal role="alertdialog" aria-describedby="dialogDesc">
      <div class="app-modal-header">
        Admin
      </div>
      <div class="app-modal-body" id="dialogDesc">
        Are you sure you want to permanently delete this post?
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn custom-btn" (click)="modal.hide()">Cancel</button>
        <button type="button" class="btn custom-btn" (click)="deleteNews()">Delete</button>
      </div>
    </app-modal>

    <article role="main">
    <div class="card mt-4">
      <img class="card-img-top img-fluid" alt="image for {{ title }}" src="{{ image }}">
      <section *ngIf="!editable" class="card-body">
        <div class="col-sm-2 pull-right likes">
          <div class="fa fa-heart fa-fw"></div>
          <span>{{ news?.likes.length }}</span>
          <ul *ngIf="news?.likes.length" class="people-liked">
              <li *ngFor="let key of news?.likes">
                {{ key }}
              </li>
          </ul>
        </div>
        <h3 class="card-title">{{ news?.title }}</h3>
        <p class="card-text">Author: {{ news?.author }}</p>
      </section>
    </div>

    <hr>
          
    <section *ngIf="!editable" class="card card-outline-secondary my-4">
      <div class="card-body">
        <p class="card-text">{{ news?.desc }}</p>
        <small class="text-muted">Created on {{ news?.date | date}}</small>
        <hr>
        <button *ngIf="news?.approved === false" type="button" class="btn custom-btn approve" (click)="approveNews()">Approve</button>
        <button *ngIf="!editable" type="button" class="btn custom-btn edit" (click)="editNews()">Edit</button>
        <button class="btn custom-btn delete" (click)="modal.show()">Delete</button>
      </div>
    </section>
    </article>

    <form *ngIf="editable" class="form-horizontal" (ngSubmit)="saveChanges(form)" #form="ngForm">

      <div class="form-group">
        <label for="newsTitle" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" name="newsTitle" [ngModel]="news?.title" #newsTitle="ngModel" required>
        </div>
      </div>

      <div class="form-group" aria-labelledby="descLabel" aria-describedby="desc">
        <label for="newsDesc" class="col-sm-2 control-label" id="descLabel">Content</label>
        <div class="col-sm-12">
          <textarea class="form-control" rows="7" cols="40" name="desc" [ngModel]="news?.desc" #desc="ngModel" required id="desc"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="newsAuthor" class="col-sm-2 control-label">Author</label>
        <div class="col-sm-12">
          <input type="text" class="form-control news-author" placeholder="author" name="newsAuthor" [ngModel]="news?.author || ''" #newsAuthor="ngModel" disabled>
        </div>
      </div>

      <div class="input-group image-preview">
         <label for="filePicker" class="col-sm-2 control-label file-label">Image</label><br>
						<div class="btn btn-default image-preview-input"> 
              <span class="glyphicon glyphicon-folder-open"></span> 
              <span class="image-preview-input-title">Browse</span>
							<input id="filePicker" type="file" accept="image/*" name="input-file-preview" (change)="pushImage($event)"/>
              <div *ngIf="imageService?.uploadProgress">
                <div class="progress">
                  <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': imageService?.uploadProgress + '%' }"></div>
                </div>
                Progress: {{imageService?.uploadProgress}}% Complete
              </div>             
            </div>            
      </div>         

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn custom-btn" [ngClass]="{'disabled-state': !form.valid}">Save</button>
          <button class="btn custom-btn" (click)="cancelChanges()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>