<div class="container col-xs-12 col-md-8">
  <div class="row">

    <app-modal #modal>
      <div class="app-modal-header">
        Admin
      </div>
      <div class="app-modal-body">
        Are you sure you want to permanently delete this post?
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn custom-btn" (click)="modal.hide()">Cancel</button>
        <button type="button" class="btn custom-btn" (click)="deleteProject()">Delete</button>
      </div>
    </app-modal>

    <div class="card mt-4">
      <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
      <div *ngIf="!editable" class="card-body">
        <h3 class="card-title">{{ news?.title }}</h3>
        <p class="card-text">Author: {{ news?.author }}</p>
      </div>
    </div>

    <div *ngIf="!editable" class="card card-outline-secondary my-4">
      <div *ngIf="project?.goals" class="card-body">
        <div class="card-title">
          Goals:
        </div>
        <p class="card-text">{{ news?.goals }}</p>
      </div>
      <hr>
      <div class="card-body">
        <p class="card-text">{{ news?.desc }}</p>
        <small class="text-muted">Created on {{ news?.date | date}}</small>
        <hr>
        <button *ngIf="news?.approved === false" type="button" class="btn custom-btn approve-news" (click)="approveNews()">Approve</button>
        <button *ngIf="!editable" type="button" class="btn custom-btn edit-news" (click)="editNews()">Edit</button>
        <button class="btn custom-btn" (click)="modal.show()">Delete</button>
      </div>
    </div>

    <form *ngIf="editable" class="form-horizontal" (ngSubmit)="saveChanges(form)" #form="ngForm">

      <div class="form-group">
        <label for="newsTitle" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" name="newsTitle" [ngModel]="news?.title" #newsTitle="ngModel" required>
        </div>
      </div>

      <div class="form-group">
        <label for="newsDesc" class="col-sm-2 control-label">Content</label>
        <div class="col-sm-12">
          <textarea class="form-control" rows="7" cols="40" name="desc" [ngModel]="news?.desc" #desc="ngModel" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="newsAuthor" class="col-sm-2 control-label">Author</label>
        <div class="col-sm-12">
          <input type="text" class="form-control news-author" placeholder="author" name="newsAuthor" [ngModel]="news?.author || ''" #newsAuthor="ngModel" disabled>
        </div>
      </div>

      <div class="input-group image-preview">
         <label for="filePicker" class="col-sm-2 control-label file-label">Image</label><br>
						<div class="btn btn-default image-preview-input"> 
              <span class="glyphicon glyphicon-folder-open"></span> 
              <span class="image-preview-input-title">Browse</span>
							<input id="filePicker" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" (change)="handleFileSelect($event)"/>
						</div>         
      </div> 

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn custom-btn" [ngClass]="{'disabled-state': !form.valid}">Save</button>
          <button class="btn custom-btn" (click)="cancelChanges()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>