<div class="container">
  <div class="row">
      <a class="back" routerLink="/news">Back to news-list</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 news-block">
      <p class="pull-left author">{{ (news | async)?.author }}</p>
      <p class="pull-right date">{{ (news | async)?.date | date: 'dd/MM/yyyy'}}</p>
      
      <img class="img img-responsive" src="https://ichef.bbci.co.uk/news/1024/media/images/48351000/gif/_48351569_640x360-news.gif" alt="">
      <h2 class="title">{{ (news | async)?.title }}</h2>
      <hr>
      <p class="description">{{ (news | async)?.desc }}</p>
    </div>
  </div>
</div>