<div class="container">
  <div class="row">
      <button class="back pull-left" [routerLink]="['/news']">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to news</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 news-block">
    
    <div class="img-block">
        <img *ngIf="news?.image ===''" src="http://lorempixel.com/750/550/city/" alt="{{ (news)?.title }}"> 
      <img *ngIf="news?.image !==''" [src]="imagePath" alt="{{ (news)?.title }}"> 
    </div> 
      <h2 class="title">{{ (news)?.title }}</h2>
      <hr>
      <p class="description">{{ (news)?.desc }}</p>
      <div class="footer clearfix">
      <div class="col-md-4 ">
          <news-like [ratingObj]="(news)" ></news-like>
        </div>
        <div class="col-md-4 ">
          <p class=" author">Written by: {{ (news)?.author }}</p>
        </div>
        <div class="col-md-4 ">
          <p class="pull-right date">{{ (news)?.date | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <news-comment [commentsObj]="(news)"></news-comment>
    </div>

    <div class="col-md-4  news-list"  >
     <h3>The most popular news!</h3>
     <span class="decor"></span>
       
      <div class="news-item" *ngFor="let key of (newsList | async)">
        
            
            <div class="img-block">
                <img *ngIf="key.image ===''" class="img img-responsive" src="http://lorempixel.com/400/200/city/" alt="{{key.title }}">
        <img *ngIf="key.image !==''" class="img img-responsive" [src]="domSanitizer.bypassSecurityTrustResourceUrl(key?.image)" 
        alt="{{key.title }}">
      </div>
      <p class="list-date ">{{key.date | date:'dd MMMM y'}} </p>
        <h4>{{ key.title | shorten:28 }} </h4>
        <p class="list-desc">{{ key.desc | shorten:130 }} </p>
   
            <a class="read" [routerLink]="['/news', key._id]" (click)="goNews(key)">Read more 
              <span class="glyphicon glyphicon-menu-right"></span>
            </a>
        <news-like class="list-like pull-right"  [ratingObj]="key"></news-like>
   
    
      
      </div>
    
  </div>
  </div>
</div>



