<div class="rating_block" [ngClass]="(authService.isLogedIn() && liked === true) ? 'liked' : 'not-liked'" (click)="increaseLike()">
    <span class="like-info">{{ likeInfo?.rating }}</span>
    <i class="heart pulse"></i>
</div>

<div *ngIf="showModal && !authService.isLogedIn()" id="modal" class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="colseModal()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">You need to be signed in to like news</h4>
        </div>
        <div class="modal-body">
            <button class="login" (click)='authService.login()'>Sign in</button>
        </div>
    </div>
</div>