<section class="our-services">
	<div class="container">
		<div class="section-title">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-12">
					<h2>Our Projects</h2>
					<span class="decor"></span>
				</div>
				<div class="col-md-8 col-sm-7 col-xs-12 font-20">
					<p>We have built an enviable reputation in consumer goods, heavy industry, high-tech, <br>manufacturing, medical, recreational vehicle, and transportation sectors.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let key of (projectsApproved | async) | slice:0:3 | orderBy: order">
				<div class="single-our-service">
					<figure class="img-box">
						<a href="#"><img src="{{key?.image}}" alt="{{key.projectName}}" width="300" height="200"></a>
					</figure>
					<a href="#"><h4>{{key.projectName }}</h4></a>
					<p>{{ key.desc }}</p>
					<div class="link"><a [routerLink]="['/projects', key._id]" class="tran3s">Read more</a></div>
				</div>
			</div>
		</div>
	</div>
</section>