:host{
  font-family: 'Montserrat', sans-serif;
}

button,
button:active,
button:focus {
  outline: none;
}

:focus {
  outline: none;
}

:host a {
  color: #777777;
  text-decoration: none;
}

:host a:hover {}

.customBlock {
  padding: 0;
  margin: 0;
}

.project_block {
  width: 96%;
  overflow: hidden;
  min-width: 250px;
  margin: 0 5px 20px 5px;
  box-shadow: 0 0 5px rgba(107, 107, 107, 0.7);
  float: left;
}

.project_block:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.img_block {
  position: relative;
  background: url('https://i.imgur.com/jIgKo8R.jpg');
  background-position: -15px 0;
  background-size: cover;
  padding: 0 0 calc(10/16*100%);
}

.img_block img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img_block img[alt] {
  color: #EEEEEE;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.projects_date {
padding: 5px 0 5px 0;
font-style: italic;
}

.projects_date span{
  color: #ee3733;
}

.info_block {
  padding: 15px;
  overflow: hidden;
}

.project_name {
  color: black;
  font-weight: 700;
}

.project_desc {
  display: flex;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_footer {
  margin-top: 2px;
  padding: 8px 15px 15px 15px;
  border-top: 1px solid #ccc;
}

.project_footer_inside{
  margin-bottom: -15px;
}

.likes_block_main {}

.likes_block {
  text-align: left;
}

.likes_block span {
  text-align: left;
}

.comments_block_main {
  text-align: right;
  padding-top: 3px;
}

.comments_block {
  font-weight: 700;
  padding: 10px;
  color: #777777;
}

.comments_info {
  font-family: 'Glyphicons Halflings';
  vertical-align: middle;
}

.comments_info_text {
  vertical-align: middle;
}

.status_block {
  position: absolute;
  color: white;
  top: -8px;
  right: -6px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  font-size: 15px;
  z-index: 3;
}

.status_prop {
  color: #ccc;
}

.status_text_yes {
  font-weight: 700;
}

.status_text_no {
  font-weight: 700;
}


