:host {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

button,
button:active,
button:focus {
  outline: none;
}

:focus {
  outline: none;
}

:host a {
  color: #777777;
  text-decoration: none;
}

:host a:hover {}

.customBlock {
  padding: 0;
  margin: 0;
}

.project_block {
  width: 96%;
  overflow: hidden;
  margin: 0 5px 20px 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .08);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  float: left;
}

.project_block:hover {
  cursor: pointer;
  box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
  transform: translate(0, -15px);
}

.img_block {
  position: relative;
  background: url('https://i.imgur.com/jIgKo8R.jpg');
  background-position: -15px 0;
  background-size: cover;
  padding: 0 0 calc(10/16*100%);
}

.img_block img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img_block img[alt] {
  color: #EEEEEE;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.projects_date {
  padding: 5px 0 5px 0;
  font-style: italic;
}

.projects_date span {
  color: #ee3733;
}

.info_block {
  padding: 15px;
  overflow: hidden;
}

.project_name {
  color: black;
  font-weight: 700;
}

.project_desc {
  text-align: justify;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_footer {
  margin-top: 2px;
  padding: 8px 15px 15px 15px;
  border-top: 1px solid #ccc;
}

.project_footer_inside {
  margin-bottom: -15px;
}

.likes_block_main {}

.likes_block {
  text-align: left;
}

.likes_block span {
  text-align: left;
}

.comments_block_main {
  text-align: right;
  padding-top: 3px;
}

.comments_block {
  font-weight: 700;
  padding: 10px;
  color: #777777;
}

.comments_info {
  font-family: 'Glyphicons Halflings';
  vertical-align: middle;
}

.comments_info_text {
  vertical-align: middle;
}

.status_block {
  position: absolute;
  color: white;
  top: -3px;
  right: -1px;
  padding: 0px;
  font-size: 14px;
  font-weight: 700;
  font-size: 16px;
  z-index: 3;
}

.status_block .label{
  margin: 0;
}

.status_prop {
  color: #ccc;
}

.status_text_yes {
  font-weight: 700;
}

.status_text_no {
  font-weight: 700;
}

@media screen and (max-width: 350px) {
  .project_block {
    font-size: 12px;
  }
  .projects_date {
    padding: 5px 0 5px 0;
    font-style: italic;
  }
  .project_name {
    font-size: 12px;
  }
}


/* Modal */

.modal-content {
  box-shadow: 0 10px 10px rgba(0, 0, 0, .08);
  border: none;
}

#myModal {
  top: 20%;
  animation: 1s alertAnim forwards;
}

.modal_window {
  color: #777777;
  background: #FFFFFF;
  border: 1px solid #ccc;
}

.modal_close {
  color: #777777;
}

.modal_msg{
  text-align: center;
}

.custom-modal-btn {
  font-family: "Raleway", sans-serif;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  transition: 0.5s;
  border: none;
  background: #ee3733;
  font-weight: 500;
  font-size: 17px;
  color: white;
}
