<div class="container project_block_main">
  <div class="row">
    <div class="nav_block">
      <button type="submit" class="btn btn-default" routerLink="/projects">Back to projects</button>
      <button type="submit" class="btn btn-default" [routerLink]="['edit']">Edit Project</button>
      <button type="submit" class="btn btn-default" [routerLink]="['/projects/new']">Add Project</button>
    </div>
  </div>
  <div class="row">
    <div class="project_block">
      <div class="img_block">
        <!-- <img src="(project | async)?.image" alt=""> -->
        <img src="http://arenalviv.com.ua/uploads/images/pages/461/750/img_7467small.jpg" alt="">
      </div>
      <div class="project_name">
        {{ (project | async)?.projectName | uppercase }}
      </div>
      <section class="project_info">
        <article class="article_header">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span>Project description</span>
        </article>
        <article class="project_desc">
          {{ (project | async)?.desc }}
        </article>
      </section>
      <section class="project_info" *ngIf="(project | async)?.goals">
        <article class="article_header">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span>What is the goal of the project?</span>
        </article>
        <article class="project_desc">
          {{ (project | async)?.goals }}
        </article>
      </section>
      <section class="project_info" *ngIf="(project | async)?.result">
        <article class="article_header">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span>What is the result of the project? </span>

        </article>
        <article class="project_desc">
          {{ (project | async)?.result }}
        </article>
      </section>
      <section class="project_info" *ngIf="(project | async)?.budget">
        <article class="article_header">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span>Finance information</span>
        </article>
        <article class="project_desc">
          <span>Project budget: {{ (project | async)?.budget }}$</span>
        </article>
      </section>
      <div class="project_footer">
        <div class="row">
          <div class="col-md-4">
            <div class="likes_block">
              <rating [ratingObj]="(project | async)"></rating>
            </div>
          </div>
          <div class="col-md-5">
            <div class="category_block">
              Date: {{ (project | async)?.date | date:'short' }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="category_block">
              Author: {{ (project | async)?.author }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <comments [commentsObj]="(project | async)?.comments">Comments loading...</comments>
</div>
