.project_block_main {
  font-size: 16px;
}

.response_message{
padding: 10px;
top: 30%;
}

.nav_block {
  background: #FCFCFC;
  color: #777777;
  padding: 20px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  text-align: right;
}

.project_block {
  margin: auto;
  max-width: 900px;
}

.edit_block {}

.img_block {
  position: relative;
  width: 80%;
  padding: 0 0 calc(170/350*100%);
  top: 0;
  left: 0;
  margin: auto;
  text-align: center;
  background-size: cover;
}

.img_block img{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.project_name {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
}

.project_info {
  margin-top: 30px;
  margin-bottom: 10px;
}

.article_header {
  padding-left: 20px;
  font-size: 20px;
}

.project_desc {
  color: #777777;
}

.project_footer {
  color: #ccc;
  font-size: 18px;
  margin: 25px 0 50px 0;
  padding-top: 25px;
  border-top: 1px solid #ccc;
}

.likes_block {
  text-align: left;
}

.date_block {}

.author_block {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .likes_block {
    text-align: center;
  }
  .date_block {
    text-align: center;
  }
  .author_block {
    text-align: center;
  }
}
