body {
       width: 100%;
       margin: 0%;    
}

.content{
    background:#ffffff url('https://inassets1-internationsgmbh.netdna-ssl.com/image/static_2048_1152/static/bundles/internationsseo/frontend/images/localcommunityHero/250.jpg') no-repeat center center;
	background-attachment: fixed;
	min-height: 690px;
}

.container-fluid {
    max-width: 1000px;
	background-color: white;
	padding-top: 10px;
	min-height: 600px;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}

.nav_block {
    margin-bottom: 20px;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
    background-color: #fcfcfc;
	width: auto;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
    border-bottom: 1px solid #eee;
    table-layout:fixed;
    width: 100%;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}

.table-filter .media-photo {
	width: 50px;
}

.shorten {
    display: block;
}

.table-filter .media .author {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .author span {
	font-size: .8em;
	margin-right: 20px;
}

.table-filter .media .summary {
    font-size: 14px;
    text-overflow: ellipsis;
}

.controls:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.glyphicon-lock{
	float: right;
	margin-right: 20px;
	font-size: 20px;
	margin-top: 10px;
}

.tip {
    position: relative;
    display: inline-block;
}

.tip .tiptext {
    visibility: hidden;
	width: 110px;
	font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
	position: absolute;
	right: 30px;
    z-index: 1;
}

.tip:hover .tiptext {
    visibility: visible;
}

.unchange {
	pointer-events:none;
	background-color: #f7f7f7;
}

form input, form textarea {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 2px solid;
  border-radius: 5px;
  transition: border-color .2s ease-out;
}

.ng-valid[required], .ng-valid.required {
  border-left-color: green;
}
form input.ng-invalid, form textarea.ng-invalid {
  border-left-color: darkred;
}
.ng-valid[required]:focus, .ng-valid.required:focus {
 border: none;
}
.ng-invalid:not(form):focus {
 border: none;
}

.noContent {
	text-align: center;
	background-color: #ddd;
	pointer-events: none;
}