<div class="container-2 col-xs-12 col-md-8">
  <div id="page-wrapper">
    <div class="row"> 
      <aside class="col-xs-12" role="complementary">
        <div class="page-title">
          <h2>Dashboard</h2>
          <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> Welcome! </li>
            <li class="pull-right">
              <div class="btn btn-green btn-square date-picker">
                <i class="fa fa-calendar"></i>
                <span class="date-range">{{ today | date }}</span>
              </div>
            </li>
          </ol>
        </div>
      </aside>
    </div>
    <main class="row">
      <section class="col-md-3 col-sm-12" aria-labelledby="users-block users-count" tabindex="0">
        <div class="circle-tile">
          <a>
            <div class="circle-tile-heading dark-blue">
              <i class="fa fa-users fa-fw fa-3x"></i>
            </div>
          </a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded" id="users-block">
              Users
            </div>
            <div class="circle-tile-number text-faded" id="users-count">
              {{ users }}
              <span id="sparklineA"></span>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-3 col-sm-12" aria-labelledby="projects-block projects-count">
        <div class="circle-tile">
          <a href="../../projects">
            <div class="circle-tile-heading green">
              <i class="fa fa-folder-open fa-fw fa-3x"></i>
            </div>
          </a>
          <div class="circle-tile-content green">
            <div class="circle-tile-description text-faded" id="projects-block">
              Projects
            </div>
            <div class="circle-tile-number text-faded" id="projects-count">
               {{ projects }} 
               <span id="sparklineB"></span>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-3 col-sm-12" aria-labelledby="news-block news-count">
        <div class="circle-tile">
          <a href="../../news">
            <div class="circle-tile-heading red">
              <i class="fa fa-folder fa-fw fa-3x"></i>
            </div>
          </a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded" id="news-block">
              News
            </div>
            <div class="circle-tile-number text-faded" id="news-count">
               {{ totalNews }}
              <span id="sparklineC"></span>
            </div>
          </div>
        </div>
      </section>
      <section class="col-md-3 col-sm-12" aria-labelledby="messages-block messages-count" tabindex="0">
        <div class="circle-tile">
          <a>
            <div class="circle-tile-heading purple">
              <i class="fa fa-comments fa-fw fa-3x"></i>
            </div>
          </a>
          <div class="circle-tile-content purple">
            <div class="circle-tile-description text-faded" id="messages-block">
              Messages
            </div>
            <div class="circle-tile-number text-faded" id="messages-count">
              {{ messages }} 
              <span id="sparklineD"></span>
            </div>
          </div>
        </div>
      </section>
    </main>
   </div>
</div> 