.back{
    display: block;
    width: 200px;
    padding: 15px;
    background: #D9D3D3;
    color: #000;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

.back:hover{
    background: #E6E2E2; 
}

.add{
    margin-top: 20px;
}