.add{
    margin-top: 100px;
}

.panel-info>.panel-heading{
    background-color: #ee3733;
    color: #fff;
    font-weight: bold;
}

.panel-info {
    border-color: #F4D3D2;
}

.news-btn{
    margin: 10px 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    background: none;
    border: 1px solid #ccc;
    color: #777777;
    box-sizing: border-box;
}

.news-btn:hover, .cancel-btn{
    background: #ee3733;
    border-color: #ee3733;
    color: #fff;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }

  .alert {
    background: #f2edda;
    padding: 8px;
    margin: 5px 0;
    font-size: .9em;
    display: inline-block;
    animation: 1s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-5px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

#modal{
    animation: 1s alertAnim forwards;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:99999;
}


.image-preview {
    margin-bottom: 15px;
}

.image-preview-input input[type=file] {
    width: 1px;
    height: 2px;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.image-preview-input {
    margin-left: 15px;
}

.progress{
margin-bottom: 5px;
height: 26px;
}

.progress-bar{
    background-color: #ee3733;
    padding: 3px;
}
