<div class="container add">
  <div class="row">
      <button class="btn news-btn pull-left" [routerLink]="['/news']">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back to news</button>
      <div class="col-md-9 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">Add news</div>
              </div>
              <div class="panel-body">
                  <form class="form-horizontal" [formGroup]="rForm" (ngSubmit)="onAddNews(title.value, description.value)">
                      <div class="form-group">
                          <label for="title" class="col-sm-2 control-label">Title</label>
                          <div class="col-sm-10">
                              <input class="form-control" formControlName="title" required id="title" placeholder="Title" type="text" #title>
                              <div class="alert" *ngIf="!rForm.controls['title'].valid && 
              rForm.controls['title'].touched">You must specify a title that's between 5 and 30 characters.
                              </div>
                          </div>
                      </div>

                      <div class="form-group ">
                          <label for="filePicker" class="col-sm-2 control-label file-label">Choose image:</label>
                          <label for="filePicker" class="btn btn-default image-preview-input">
                              <span class="glyphicon glyphicon-folder-open"></span>
                              <span class="image-preview-input-title">Upload image</span>
                              <span class='label label-info' id="upload-file-info"></span>
                              <input id="filePicker" type="file" name="input-file-preview" accept="image/*" (change)="pushImage($event)" />
                              <div *ngIf="imageService?.uploadProgress">
                                  <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;" [ngStyle]="{ 'width': imageService?.uploadProgress + '%' }">
                                          Image uploading: {{imageService?.uploadProgress}}%
                                      </div>
                                  </div>
                              </div>
                          </label>

                      </div>
                      <div class="form-group">
                          <label for="desc" class="col-sm-2 control-label">Description</label>
                          <div class="col-sm-10">
                              <textarea class="form-control" formControlName="desc" required id="desc" rows="12" #description> </textarea>
                              <div class="alert" *ngIf="!rForm.controls['desc'].valid && 
              rForm.controls['desc'].touched">You must specify a description that's between 150 and 2500 characters.
                              </div>
                          </div>
                      </div>
                      <button type="submit" value="Submit Form" [disabled]="!rForm.valid" class="btn news-btn">Add news</button>
                      <button type="reset" (click)="cancel()" class="btn news-btn cancel-btn">Cancel</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="showModal" id="modal" class="modal-dialog ">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Thank you!</h4>
      </div>
      <div class="modal-body">
          <p>Your news will be published after our administrator check it!</p>
      </div>
  </div>
</div>