<div class="container col-xs-12 col-md-8">
  <div class="row">

    <app-modal #modal role="alertdialog" aria-describedby="dialog2Desc">
      <div class="app-modal-header">
        Admin
      </div>
      <div class="app-modal-body" id="dialog2Desc">
        Are you sure you want to permanently delete this project?
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn custom-btn" (click)="modal.hide()">Cancel</button>
        <button type="button" class="btn custom-btn" (click)="deleteProject()">Delete</button>
      </div>
    </app-modal>

    <app-modal #modalClose role="alertdialog" aria-describedby="dialog1Desc">
      <div class="app-modal-header">
        Admin
      </div>
      <div class="app-modal-body" id="dialog1Desc">
        Are you sure you want to permanently close this project? It cannot be reopened.
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn custom-btn" (click)="modalClose.hide()">Cancel</button>
        <button type="button" class="btn custom-btn" (click)="closeProject()">Close</button>
      </div>
    </app-modal>
    
    <article role="main">
    <div class="card mt-4">
      <img class="card-img-top img-fluid" alt="{{ project?.projectName }} image" src="{{ image.replace('?alt=media&', '_thumb.jpg?alt=media&') }}">
      <section *ngIf="!editable" class="card-body">
        <div class="col-sm-2 pull-right likes">
          <div class="fa fa-heart fa-fw"></div>
          <span>{{ project?.likes.length }}</span>
          <ul *ngIf="project?.likes.length" class="people-liked">
              <li *ngFor="let key of project?.likes">
                {{ key }}
              </li>
          </ul>
        </div>
        <p class="status col-sm-2 col-sm-offset-10 badge badge-default">{{ project?.status }}</p>
        <h3 class="card-title">{{ project?.projectName }}</h3>
        <h4 class="card-title">Budget: {{ project?.budget }} UAH</h4>
        <h4 class="card-text">Author: {{ project?.author }}</h4>
      </section>
    </div>

    <section *ngIf="!editable" class="card card-outline-secondary my-4">
      <div *ngIf="project?.goals" class="card-body" aria-labelledby="projectGoalsFullLabel" aria-describedby="projectGoalsFull">
        <h4 class="card-title" id="projectGoalsFullLabel">
          Goals:
        </h4>
        <p class="card-text" id="projectGoalsFull">{{ project?.goals }}</p>
      </div>
      <hr>
      <div class="card-body" aria-labelledby="projectDescriptionLabel" aria-describedby="projectDescription">
        <h4 class="card-header" id="projectDescriptionLabel">Description:</h4>
        <p class="card-text" id="projectDescription">{{ project?.desc }}</p>
        <small class="text-muted">Created on {{ project?.date | date}}</small>
        <hr>
        <button *ngIf="project?.approved === false" type="button" class="col-xs-12 col-sm-2 btn custom-btn approve" (click)="approveProject()">Approve</button>
        <button *ngIf="project?.approved" type="button" class="col-xs-12 col-sm-2 btn custom-btn close" (click)="modalClose.show()">Close</button>
        <button *ngIf="!editable" type="button" class="col-xs-12 col-sm-2 btn custom-btn edit" (click)="editProject()">Edit</button>
        <button class="col-xs-12 col-sm-2 btn custom-btn delete" (click)="modal.show()">Delete</button>
      </div>
    </section>
</article>
  
    <form *ngIf="editable" class="form-horizontal" (ngSubmit)="saveChanges(form)" #form="ngForm">

      <div class="form-group">
        <label for="projectName" class="col-sm-2 control-label">Name</label>
        <p class="col-sm-12">
          <input type="text" class="form-control" name="projectName" [ngModel]="project?.projectName" #projectName="ngModel" required>
        </p>
      </div>

      <div class="form-group" aria-labelledby="projectDescLabel" aria-describedby="projectDesc">
        <label for="projectDesc" class="col-sm-2 control-label" id="projectDescLabel">Description</label>
        <p class="col-sm-12">
          <textarea class="form-control" rows="7" cols="40" name="desc" id="projectDesc" [ngModel]="project?.desc" #desc="ngModel" required></textarea>
        </p>
      </div>

      <div class="form-group" aria-labelledby="projectGoalsLabel" aria-describedby="projectGoals">
        <label for="projectGoals" id="projectGoalsLabel" class="col-sm-2 control-label">Goals</label>
        <p class="col-sm-12">
          <textarea rows="4" cols="40" id="projectGoals" class="form-control" name="goals" [ngModel]="project?.goals || ''" #goals="ngModel" required></textarea>
        </p>
      </div>

      <div class="form-group">
        <label for="projectAuthor" class="col-sm-2 control-label">Author</label>
        <p class="col-sm-12">
          <input type="text" class="form-control project-author" placeholder="author" name="projectAuthor" [ngModel]="project?.author || ''" #projectAuthor="ngModel" disabled>
        </p>
      </div>

      <div class="form-group" aria-labelledby="projectBudgetLabel" aria-describedby="projectBudget">
        <label for="projectBudget" id="projectBudgetLabel" class="col-sm-2 control-label">Budget</label>
        <p class="col-sm-12">
          <input type="text" class="form-control" id="projectBudget" placeholder="budget" name="budget" [ngModel]="project?.budget || ''" #budget="ngModel" required>
        </p>
      </div>

      <div class="input-group image-preview">
         <label for="filePicker" class="col-sm-2 control-label file-label">Image</label><br>
						<div class="btn btn-default image-preview-input"> 
              <span class="glyphicon glyphicon-folder-open"></span> 
              <span class="image-preview-input-title">Browse</span>
							<input id="filePicker" type="file" accept="image/*" name="input-file-preview" (change)="pushImage($event)"/>
              <div *ngIf="imageService?.uploadProgress">
                <div class="progress">
                  <div class="progress_block col-md-11 col-xs-10" [ngStyle]="{ 'width': imageService?.uploadProgress + '%' }"></div>
                </div>
                Progress: {{imageService?.uploadProgress}}% Complete
              </div>             
            </div>        
      </div> 

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn custom-btn" [ngClass]="{'disabled-state': !form.valid}">Save</button>
          <button class="btn custom-btn" (click)="cancelChanges()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>