<div class="container col-xs-12 col-md-8">
  <div class="row">

    <app-modal #modal>
      <div class="app-modal-header">
        Admin
      </div>
      <div class="app-modal-body">
        Are you sure you want to permanently delete this project?
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn custom-btn" (click)="modal.hide()">Cancel</button>
        <button type="button" class="btn custom-btn" (click)="deleteProject()">Delete</button>
      </div>
    </app-modal>

    <app-modal #modalClose>
      <div class="app-modal-header">
        Admin
      </div>
      <div class="app-modal-body">
        Are you sure you want to permanently close this project? It cannot be reopened.
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn custom-btn" (click)="modalClose.hide()">Cancel</button>
        <button type="button" class="btn custom-btn" (click)="closeProject()">Close</button>
      </div>
    </app-modal>

    <div class="card mt-4">
      <img class="card-img-top img-fluid" alt="No image" src="{{ 'data:image/jpeg;base64,' + project?.image }}" onerror="this.onerror=null;this.src='http://placehold.it/900x400';">
      <div *ngIf="!editable" class="card-body">
        <p class="status col-sm-2 col-sm-offset-10 badge badge-default">{{ project?.status }}</p>
        <h3 class="card-title">{{ project?.projectName }}</h3>
        <h4>Budget: {{ project?.budget }} UAH</h4>
        <p class="card-text">Author: {{ project?.author }}</p>
      </div>
    </div>

    <div *ngIf="!editable" class="card card-outline-secondary my-4">
      <div *ngIf="project?.goals" class="card-body">
        <div class="card-title">
          Goals:
        </div>
        <p class="card-text">{{ project?.goals }}</p>
      </div>
      <hr>
      <div class="card-header">Description:</div>
      <div class="card-body">
        <p class="card-text">{{ project?.desc }}</p>
        <small class="text-muted">Created on {{ project?.date | date}}</small>
        <hr>
        <button *ngIf="project?.approved === false" type="button" class="btn custom-btn approve-project" (click)="approveProject()">Approve</button>
        <button *ngIf="project?.approved" type="button" class="btn custom-btn close-project" (click)="modalClose.show()">Close</button>
        <button *ngIf="!editable" type="button" class="btn custom-btn approve-projectedit-project" (click)="editProject()">Edit</button>
        <button class="btn custom-btn" (click)="modal.show()">Delete</button>
      </div>
    </div>

    <form *ngIf="editable" class="form-horizontal" (ngSubmit)="saveChanges(form)" #form="ngForm">

      <div class="form-group">
        <label for="projectName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" name="projectName" [ngModel]="project?.projectName" #projectName="ngModel" required>
        </div>
      </div>

      <div class="form-group">
        <label for="projectDesc" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-12">
          <textarea class="form-control" rows="7" cols="40" name="desc" [ngModel]="project?.desc" #desc="ngModel" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="projectGoals" class="col-sm-2 control-label">Goals</label>
        <div class="col-sm-12">
          <textarea rows="4" cols="40" class="form-control" name="goals" [ngModel]="project?.goals || ''" #goals="ngModel" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="projectAuthor" class="col-sm-2 control-label">Author</label>
        <div class="col-sm-12">
          <input type="text" class="form-control project-author" placeholder="author" name="projectAuthor" [ngModel]="project?.author || ''" #projectAuthor="ngModel" disabled>
        </div>
      </div>

      <div class="form-group">
        <label for="projectBudget" class="col-sm-2 control-label">Budget</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="budget" name="budget" [ngModel]="project?.budget || ''" #budget="ngModel" required>
        </div>
      </div>

      <div class="input-group image-preview">
         <label for="filePicker" class="col-sm-2 control-label file-label">Image</label><br>
						<div class="btn btn-default image-preview-input"> 
              <span class="glyphicon glyphicon-folder-open"></span> 
              <span class="image-preview-input-title">Browse</span>
							<input id="filePicker" type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" (change)="handleFileSelect($event)"/>
						</div>         
      </div> 

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn custom-btn" [ngClass]="{'disabled-state': !form.valid}">Save</button>
          <button class="btn custom-btn" (click)="cancelChanges()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>