<div class="container col-sm-5">
   <div class="row">
      <p class="status col-sm-2 col-sm-offset-10">{{ (project | async)?.approved }}</p>
      <div class="glyphicon glyphicon-trash" (click)="deleteProject()"></div>
      <div *ngIf="!editable" class="edit_block glyphicon glyphicon-pencil" (click)="editProject()"></div>    
      <button *ngIf="(project | async)?.approved === false" class="approve-project" (click)="approveProject()">approve</button>
      <button *ngIf="(project | async)?.approved" class="close-project" (click)="closeProject()">close project</button>    
      
      
      <div class="img_block col-sm-12">
         <img class="img-responsive" src="http://www.personal.psu.edu/users/n/y/nys5290/Project-Image.jpg" alt="">
      </div>

      <form class="form-horizontal" *ngIf="editable" #form="ngForm">

      <div class="form-group">
         <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Project name" #projectName [value]="(project | async)?.projectName">
         </div>
      </div>

      <div class="form-group">
         <label for="projectDesc" class="col-sm-2 control-label">Description</label>
         <div class="col-sm-10">
            <textarea class="form-control" rows="7" cols="40" placeholder="project description" #projectDesc [value]="(project | async)?.desc"></textarea>
         </div>
      </div>

      <div class="form-group">
         <label for="projectGoals" class="col-sm-2 control-label">Goals</label>
         <div class="col-sm-10">
            <textarea rows="4" cols="40" class="form-control" placeholder="project goals" #projectGoals [value]="(project | async)?.goals || ''"></textarea>
         </div>
      </div>

      <div class="form-group">
         <label for="projectAuthor" class="col-sm-2 control-label">Author</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="author" #projectAuthor [value]="(project | async)?.author || ''">
         </div>
      </div>

      <div class="form-group">
         <label for="projectBudget" class="col-sm-2 control-label">Budget</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="budget" #projectBudget [value]="(project | async)?.budget || ''">
         </div>
      </div>

      <div class="form-group">
         <label for="projectCategory" class="col-sm-2 control-label">Category</label>
         <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="category" #projectCategory [value]="(project | async)?.category || ''">
         </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" (click)="saveChanges($event, projectName, linkImg, shortDesc, fullDesc, goals, result, involved, budget, type)">Save</button>
          <button class="btn btn-default" (click)="cancelChanges()">Cancel</button>
        </div>
      </div>

   </form>

<article class="about_project" *ngIf="!editable">
      <div class="project_name">
         <span>{{ (project | async)?.projectName | uppercase }}</span>
      </div>
      <section *ngIf="(project | async)?.desc" class="project_info">
         <p class="header">
            <span>Project description</span>
         </p>
         <p class="project_desc">
            {{ (project | async)?.desc }}
         </p>
      </section>
      <section *ngIf="(project | async)?.goals" class="project_info">
         <p class="header">
            <span>Goals</span>
         </p>
         <p class="project_desc">
            <span>{{ (project | async)?.goals }}</span>
         </p>
      </section>
      <section *ngIf="(project | async)?.budget" class="project_info">
         <p class="header">
            <span>Budget</span>
         </p>
         <p class="project_desc">
            <span>{{ (project | async)?.budget }}</span>
         </p>
      </section>
      <section *ngIf="(project | async)?.author" class="project_info">
         <p class="header">
            <span>Author</span>
         </p>
         <p class="project_desc">
            <span>{{ (project | async)?.author }}</span>
         </p>
      </section>
      <section *ngIf="(project | async)?.category" class="project_info">
         <p class="header">
            <span>Category</span>
         </p>
         <p class="project_desc">
            <span>{{ (project | async)?.category }}</span>
         </p>
      </section>
    </article>
   </div>
</div>