body {
       width: 100%;
       margin: 0%;    
}

.content{
    background:#ffffff url('https://inassets1-internationsgmbh.netdna-ssl.com/image/static_2048_1152/static/bundles/internationsseo/frontend/images/localcommunityHero/250.jpg') no-repeat center center;
    background-attachment: fixed;
    min-height: 700px;
}

.container-fluid {
    max-width: 1000px;
    background-color: white;
    padding-top: 10px;
    min-height: 650px;
}

.main-content {
    margin-top: 20px;
}

.project_name {
    max-width: 400px;
}

.welcome {
    text-align: center;
}

.sort_section {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px 1px;
    width: 48%;
    max-width: 130px;
    cursor: pointer;
    background-color: #f8f8f8;
    text-align: center;
}

.sort_section:hover {
    box-shadow: 0 0 2px lightseagreen;
}

.sort-section:active {
    text-shadow: 0 0 2px lightseagreen;
}

/*list style*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul.list_part {
    max-width: 270px;
    max-height: 210px;
    overflow:hidden; 
    overflow-y:auto;
}

ul.list_part li {
    height: 38px;
}

ul.list_part li:hover {
    background-color: #f7faff;
}

ul.list_part li:active {
    background-color: #e5efff;
}

li a {
    display: block;
}

ul.list_part li.pending-projects, ul.list_part li.active-projects {
    border: 1px solid grey;
    background-color: grey;
    color: white;
    text-align: center;
}

ul.list_part li.pending-projects:hover, ul.list_part li.active-projects:hover {
    background-color: grey;
}

.badge-pill {
float: right;
}

.new {
    background-color: green;
}

.more {
    text-align: center;
}


/*Scrollbar*/

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: darkgrey;
}

/*lock*/

.glyphicon-lock{
	float: right;
	margin-right: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.tip {
    position: relative;
    display: inline-block;
}

.tip .tiptext {
    visibility: hidden;
	width: 110px;
	font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
	position: absolute;
	right: 30px;
    z-index: 1;
}

.tip:hover .tiptext {
    visibility: visible;
}

.logout {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}


