<navigation></navigation>

<div class="container-fluid">
  <div class="row main-content">

    <div class="col-md-4">

      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title">
          <i class="fa fa-check fa-fw"></i>
          <div class="btn-group pull-right">
            <button class="btn sort-btn dropdown-toggle" data-toggle="dropdown">
              <span>sort</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li (click)="sortByName()"><a>name</a></li>
              <li class="divider"></li>
              <li (click)="sortByDate()"><a>date</a></li>
            </ul>
          </div>
            Active</h3>
        </div>
        <ul class="list-group">
          <li *ngFor="let key of activeProjects | slice:0:showActive | sortBy:prop:'normal'; let i=index" class="project_block list-group-item sliding_bg">
            <a [routerLink]="['/admin/projects', key._id]">
              <span class="project_name">
               {{key.projectName }}
               </span>
            </a>
          </li>
          <button *ngIf="showMoreActiveButton" type="button" class="list-group-item more" (click)="showMore('active')">Show more</button>
        </ul>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
          <i class="fa fa-spinner fa-fw"></i>            
            Pending</h3>
        </div>
        <ul class="list-group">
          <li *ngFor="let key of pendingProjects | slice:0:showPending | sortBy:prop:'normal'; let i=index" class="project_block list-group-item sliding_bg">
            <a [routerLink]="['/admin/projects', key._id]">               
               {{key.projectName }} 
               <span *ngIf="key.status === 'new'" class="badge badge-default badge-pill">new</span>              
               </a>
          </li>
          <button *ngIf="showMorePendingButton" type="button" class="list-group-item more" (click)="showMore('pending')">Show more</button>
        </ul>
      </div>

      <form class="navbar-form search-form" role="search">
        <div class="focus-container" tabindex="-1">
          <div class="input-group add-on">
            <input type="search" results="0" class="form-control" placeholder="Search" name="srch-term" id="srch-term" [(ngModel)]="queryString">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <div *ngIf="queryString" class="panel panel-primary search-panel">
        <ul class="list-group">
          <li *ngFor="let key of projects | searchNews:queryString:'projectName'| sortBy:prop:'normal'; let i=index" class="project_block list-group-item sliding_bg">
            <a [routerLink]="['/admin/projects', key._id]">               
               {{key.projectName }} 
               <span *ngIf="key.status === 'new'" class="badge badge-default badge-pill">new</span>              
               </a>
          </li>
        </ul>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>