ul {
    list-style: none;
}

.main-content {
    margin-top: 20px;
}

.pending-projects, .active-projects {
    width: 250px;
}

.circle {
	border-radius: 50%;
	width: 7px;
    height: 7px; 
    display: inline-block;
}

.new {
    background-color: lightsalmon;
}

.edited {
    background-color: lightskyblue
}

