
#navigation{
    margin-bottom: 0;
}
  
header{
  width: 100%;
  z-index: 999999;
}

.wpb-mobile-menu{
  display: none;
}
img{
  vertical-align: middle;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\F0C9";
  color: #ee3733;
}
 button.navbar-toggle:hover i:before{
   color: #fff;
 }
.navbar-collapse {
  max-height: 400px;
}

.navbar {
  margin-bottom: 0;
  background: #fff;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  z-index: 999;
  width: 100%;
}
.navbar-default .navbar-toggle {
  border-color: #ee3733;
  border-radius: 0px;
}

.navbar-default .navbar-toggle:hover {
  background: #ee3733;
}

.navbar-brand {
  position: relative;
  cursor: pointer;
  padding: 27px 0;
  margin: 0!important;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav {
  position: relative;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
  margin-left: 6px;
}

.navbar-default .navbar-nav > li:first-child {
  margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #999;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 28px 15px 28px 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
  border-bottom: 2px solid;
}

.navbar-default .navbar-nav > li.settings:hover > a {
  border-bottom: none;
  cursor: pointer; 
}

.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
  color: #ee3733;
}

.navbar-default .navbar-nav > li > a:after {
  background-color: #ee3733;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
  border-color: #ee3733;
}

.navbar-default .navbar-nav > li > a i {
  margin: 0 -2px 0 -5px;
}

.navbar-default .navbar-nav > li > a:after {
    position: absolute;
    bottom: 0;
    content: '';
    left: 50%;
    display: block;
    height: 5px;
    width: 5px;
    opacity: 0;
    margin: 0 0 -3px -2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

.navbar-default .navbar-nav > li > a.active:after {
    opacity: 1;
}

.navbar-default .navbar-nav > li > a:after {
    background-color: #f1505b;
}

.navbar-default .navbar-nav > li > a:after {
    background-color: #ee3733;
}

a.navbar-brand:hover .glyphicon-log-out, a.navbar-brand:hover .glyphicon-log-out + span {
  color: #ee3733;
}

@media (min-width: 576px) and (max-width: 767px) {
  a.navbar-brand div.glyphicon-log-out{
    margin-left: 25px;
  }
  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
    border-bottom: 0;
  }
  .navbar-brand{
    padding: 17px 0;
  }
}

@media (max-width: 575px) {
  a.navbar-brand div.glyphicon-log-out{
    margin-left: 25px;
  }
}