  <div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
       [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span>Configure app access</span>
        </div>
        <div class="modal-body">
          <div class="secondPath">
            <form class="form-horizontal">
              <div class="form-group">
                <p>Projects</p>
                <div class="logical-group">
                <input class="path disabled-state" type="text" value="get/projects" id="one">
                  <select class="selectpicker" name="type">
                    <option value="admin">Admin</option>
                    <option value="investor">Investor</option>
                    <option value="user">User</option>
                  </select>
                  </div>
                <div class="logical-group">
                <input class="path disabled-state" type="text" value="post/projects" id="two">
                  <select class="selectpicker" name="type">
                    <option *ngFor="let role of rights" value = {{ role }}>{{ role }}</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <p>News</p>
                <div class="logical-group">
                <input class="path disabled-state" type="text" value="get/news" id="three">
                  <select class="selectpicker" name="type">
                    <option value="admin">Admin</option>
                    <option value="investor">Investor</option>
                    <option value="user">User</option>
                  </select>
                </div>  
                <div class="logical-group">
                <input class="path disabled-state" type="text" value="post/news" id="four">
                  <select class="selectpicker" name="type">
                    <option value="admin">Admin</option>
                    <option value="investor">Investor</option>
                    <option value="user">User</option>
                  </select> 
                  </div> 
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn custom-btn" (click)="hide()">Save</button>
            <button type="button" class="btn custom-btn" (click)="hide()">Cancel</button>        </div>
      </div>
    </div>
  </div>